.imgBg{background-repeat:no-repeat;background-position:center top;background-size:cover;}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
.clear{clear:both;height:0;overflow:hidden;}
.clearfloat{height:0;font-size:1px;clear:both;line-height:0;}
.h35{height:35px;width:100%;}
.h60{height:60px;width:100%;}
.h20{height:20px;width:100%;}
.fl{float:left;}
.fr{float:right;}
.black *{color:#000 !important;}
.black li{margin-left:85px;}
.marl26{margin-left: 26px;}
.marr26{margin-right: 26px;}
.opact{opacity:0.5;filter:alpha(opacity=50);}
.ims{width: 100%;}

#container{ width:718px;margin:20px auto; padding-bottom:20px; background:#fff;}

.main{ width:94%;max-width: 1200px; margin:0 auto; overflow:hidden;}
.list_main{ width:100%;max-width: 1230px; margin:0 auto; overflow:hidden;}
.concent{width: 100%;background: #ffffff;padding-top: 40px;padding-bottom: 40px;}
.ctbg{background: #efefef;}
.ctbg2{background: #f6f6f6;}
.bgf2{background: #F2F2F2;}

.triangle_up
{
    height:0px; width:0px;
    border-bottom:20px solid #072170;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
}
.triangle_down
{
    height:0px; width:0px;
    border-top:20px solid #072170;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
}
.roundedCorner{
    width:15px;
    height:15px;
    background-color:#d1d1d1;
    border-radius:15px;
}

.header2_right{position: relative;width: 100%;height: 4rem;background: #f8f8f8;}
.header_search{width:94%;position:relative;left: 3%;}
.search_icon{width:18px;height:18px;background:url(search_icon.png) #fff no-repeat;cursor:pointer;z-index:20;position:relative;display: none;}
.header_search .man{position:absolute;top:14px;width:100%;z-index:10;}
.header_search .text{width:100%;height:36px;line-height:36px;padding: 6px;color:#444;border:none;background: #FFFFFF;text-indent: 2rem;border-radius: 5px;}
.header_search .btn{width:18px;height:18px;background:url(search_icon.png) no-repeat;position:absolute;top:0;left: 14px;border:none;margin-top:14px;cursor:pointer;}
.header_search .hide{float:left;margin-top:18px;cursor:pointer;transition:all 2s ease;}
.header_search .hide img{width: 14px;}
.header_search .hide:hover{transform:rotate(720deg);-ms-transform:rotate(720deg);-moz-transform:rotate(720deg);-webkit-transform:rotate(720deg);-o-transform:rotate(720deg);}

.pic{overflow: hidden;}
.pic img{transition: all 0.5s;-webkit-transition: all 0.5s}
.pic:hover img{transform:scale(1.05);-webkit-transform:scale(1.05);z-index: -1;}
